<div class="chat-box" id="chat-box">
    <div class="header" id="header">
        <div class="">
            <div *ngIf="this.expanded" class="header-content">
                oczekiwanie na wolontariusza...&nbsp;&nbsp;<i style="font-size: 15px;" class="fas fa-circle"></i>&nbsp;&nbsp;<div class="type-info">ANONIMOWO</div>
            </div>
            <i class="fas fa-bars"></i>
        </div>
    </div>

    <div class="messages" id="messages">
        <div class="cloud-holder" *ngFor="let message of user.messages, index as i">
            <div class="sender-cloud" *ngIf="message.senderID === this.user.user.ID">{{ message.content }}</div>
            <div class="recipient-cloud" *ngIf="message.senderID !== this.user.user.ID">{{ message.content }}</div>
        </div>
    </div>

    <div class="side-menu" *ngIf="showSideMenu">
        <div class="status-favicon-wrapper" *ngIf="this.expanded">
            <img class="logo-favicon" src="assets/logo.png"/>
            <div class="status-favicon"></div>
        </div>
    </div>

    <div class="input-box" id="input-box" >
        <textarea rows="1" autosize [minRows]="1" [maxRows]="5" class="input" style="width: 100%" type="text" [formControl]="messageContent" (keyup.enter)="onSend()" placeholder="Wprowadź wiadomość" data-min-rows="1"></textarea>
        <button class="send"(click)="onSend()" ><i class="fas fa-paper-plane"></i></button>
    </div>
</div>
