<div class="mobile-wrapper">
    <h2> JPEG </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae molestiae temporibus dolore sapiente, error ipsum ex, tenetur optio obcaecati vero nobis sint commodi possimus! A minus suscipit enim numquam?</p>
    <div class="line"></div>
    <h2> JPEG </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae molestiae temporibus dolore sapiente, error ipsum ex, tenetur optio obcaecati vero nobis sint commodi possimus! A minus suscipit enim numquam?</p>
    <div class="line"></div>
    <h2> JPEG </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae molestiae temporibus dolore sapiente, error ipsum ex, tenetur optio obcaecati vero nobis sint commodi possimus! A minus suscipit enim numquam?</p>
</div>