<div class="wrapper">
    <h2 class="first-photo"> JPEG </h2>
    <p class="first-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae molestiae temporibus dolore sapiente, error ipsum ex, tenetur optio obcaecati vero nobis sint commodi possimus! A minus suscipit enim numquam?</p>
    <div class="first-line"></div>
    <h2 class="second-photo"> JPEG </h2>
    <p class="second-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae molestiae temporibus dolore sapiente, error ipsum ex, tenetur optio obcaecati vero nobis sint commodi possimus! A minus suscipit enim numquam?</p>
    <div class="second-line"></div>
    <h2 class="third-photo"> JPEG </h2>
    <p class="third-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae molestiae temporibus dolore sapiente, error ipsum ex, tenetur optio obcaecati vero nobis sint commodi possimus! A minus suscipit enim numquam?</p>
</div>
